body {
  width: 100%;
  height: 100%;
}

@media(min-width: 1220px) {
  .container {
    background-color: #262626;
    background-image: url("./assets/backgroundImage.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media(min-width: 768px) {
  .container {
    background-color: #262626;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width: 768px) {}
